[2016-07-01 03:56] akiezun opened #8 "IntelDeflaterFactory should try to load the GKL at instance creation or class loading time"
IntelDeflaterFactory does not load the GKL until makeDeflater is called. This is too late because I want to know what deflater *will* be used before any deflater is actually created. See https://github.com/broadinstitute/gatk/tree/ak_use_intelDeflaterFactory and the workaround i put in CommandLineProgram for this issue.

[2016-07-01 17:59] gspowley commented on #8
Fixed in release 0.1.1

[2016-07-01 17:59] #8 closed

[2016-07-01 20:44] gspowley opened #10 "Add support to set and get FTZ flag"
Add Java routines to set and get the FTZ flag.

For https://github.com/broadinstitute/gatk/issues/1771

[2016-07-01 20:47] gspowley opened #11 "Enable multi-threaded AVX PairHMM with fallback to single-threaded mode"
Enable multi-threaded AVX PairHMM using OpenMP, with a fallback to single-threaded mode when OpenMP is not supported.

For https://github.com/broadinstitute/gatk/issues/1819

[2016-07-01 20:49] gspowley opened #12 "Add accelerated Smith-Waterman"
Match the GATK Smith-Waterman API and results.

For https://github.com/broadinstitute/gatk/issues/1812

[2016-07-08 16:21] gspowley opened #13 "Check for AVX support on library load"
For https://github.com/broadinstitute/gatk/issues/1985

We need to check for AVX support in `load` and return `false` if AVX is not supported.

[2016-07-11 13:53] gspowley commented on #13
Fixed in #14.

[2016-07-11 13:53] #13 closed

[2016-08-04 13:42] #10 closed

[2016-09-12 13:56] #11 closed

[2016-09-12 14:08] gspowley opened #26 "Throw exception if multi-threaded PairHMM is requested but OpenMP is not supported"
For https://github.com/broadinstitute/gatk/issues/1819

[2016-10-18 20:54] gspowley opened #33 "Error checking for AVX support"
We have received reports of GKL hanging while checking for AVX support.

It appears the `grep -i avx /proc/cpuinfo` process hangs forever in Java. However, the `grep` command runs fine under bash.

We should implement a more robust AVX check that does not rely on `grep` and works on multiple platforms.

[2016-11-17 21:33] gspowley opened #37 "Add javah support to CMake"
Generate JNI header files as needed using CMake.

[2016-12-08 21:29] gspowley opened #38 "Catch UnsatisfiedLinkError in IntelGKLUtils.load"
For https://github.com/broadinstitute/gatk/issues/2302

[2016-12-14 18:37] gspowley opened #39 "Restore the AVX check"
Restore the AVX check in `IntelGKLUtils.load` from [GKL 0.2.0](https://github.com/Intel-HLS/GKL/blob/fcc5af2f7af348e06c7672b05c1fd3d011b5a97f/src/main/java/com/intel/gkl/IntelGKLUtils.java#L99).

For https://github.com/broadinstitute/gatk/issues/2315

[2016-12-19 15:00] #26 closed

[2016-12-19 15:18] #38 closed

[2016-12-19 15:18] #39 closed

[2017-02-01 22:54] gspowley opened #44 "Remove fprintf"
Please remove the `fprintf` on [this line](https://github.com/Intel-HLS/GKL/blob/master/src/main/native/compression/IntelInflater.cc#L86) before the next release.

[2017-02-23 18:10] gspowley opened #47 "Modify IntelInflater API"
The `IntelInflater` API  needs some changes to match the `Inflater` API.

1. The `IntelInflater` should not require calling `reset()` before use.
2. When `inflate(result)` is called without specifying the length argument, length should default to `result.length`.

The following code will test these changes.

[code]

[2017-03-13 17:12] gspowley commented on #47
Closed with #48

[2017-03-13 17:12] #47 closed

[2017-03-13 17:13] gspowley commented on #44
Closed with #48

[2017-03-13 17:13] #44 closed

[2017-04-02 01:19] gspowley opened #52 "Potential memory leak in IntelDeflater"
We need to free the memory allocated for huffman tables on [this line of IntelDeflater.cc](https://github.com/Intel-HLS/GKL/blob/7c27959c4eb993d5dd9c29dcc68893f3c4acda90/src/main/native/compression/IntelDeflater.cc#L221), unless the ISA-L code is doing that for us.

[2017-04-03 01:01] gspowley commented on #52
@pnvaidya can you please take a look at this on Monday?

[2017-04-03 13:23] pnvaidya commented on #52
You are right, since we are allocating the tables in our code, we will have to clean it up, not ISAL…

if (level != 1) {
    deflateEnd(lz_stream);
  }
  else
  {
    free(hufftables_custom);
    free(lz_stream);
  }

Let me add this change to existing pull request.

[2017-04-04 19:21] gspowley commented on #52
Resolved by #51

[2017-04-04 19:21] #52 closed

[2017-05-22 17:08] gspowley opened #56 "Report OMP threads in PairHMM"
Add code to report:
* Number of OMP threads requested
* Number of OMP threads available
* Number of OMP threads used

If number of threads used is less than the number requested, generate a warning message.

[2017-05-22 17:14] gspowley opened #57 "Remove factor of 3 in total cell calculation"
Remove factor of 3 in the total cell calculation to match the total cell calculation in other published PairHMM implementations.

Change this [line](https://github.com/Intel-HLS/GKL/blob/9542b5d7fea0d48b60fa4b46a0163217fb759616/src/main/native/pairhmm/JavaData.h#L69) to this:

[code]

[2017-05-22 18:39] #57 closed

[2017-05-23 17:37] #56 closed

[2017-05-26 17:54] #33 closed

[2017-11-11 18:11] sooheelee opened #81 "GATK v3.8 GKL memory issues?"
Could I get a consult on GATK user questions at <https://gatkforums.broadinstitute.org/gatk/discussion/10353/gatk-3-8-0-printreads-fatal-error#latest>?

Users are experiencing issues for v3.8 of GATK, which implements the GKL by default. I'm not sure if the issues are related to GKL, and if they are what are the guidelines we should provide users experiencing such issues.

Thanks.

[2017-11-12 16:51] sooheelee commented on #81
Could @erniebrau or @pnvaidya please forward this issue to relevant persons? I've just grabbed your handles because you appear active in this repo. Much appreciated.

[2017-11-13 14:48] gspowley commented on #81
@sooheelee, We are looking into the issues reported in the GATK discussion list. If GKL is causing the issues, then users should add the `-jdk_deflater` and `-jdk_inflater` options to GATK until we resolve the issue.

[2017-11-14 15:55] sooheelee commented on #81
Thank you. We look forward to hearing back from you and your team.

[2017-11-14 16:04] lbergelson commented on #81
Another similar report in picard.  https://github.com/broadinstitute/picard/issues/975

[2017-11-20 20:13] #81 closed

[2017-11-21 14:45] erniebrau commented on #12
Shouldn't this be closed?

[2017-11-21 14:46] gspowley commented on #12
Yes.

[2017-11-21 14:46] #12 closed

[2017-12-25 08:55] haiwufan opened #86 "Error: error: ‘__m512’ does not name a type"
Hi Developer,
I meet some error when I install GKL. Could you help me to solve this problem?

Install command and error info as below:

*****************************************
root@cgvm-bk-r3:/pub/bin/GKL# ./gradlew test
:compileJava UP-TO-DATE
:cmakeConfig
:cmakeBuild
In file included from /pub/bin/GKL/src/main/native/pairhmm/avx-pairhmm.h:5:0,
                 from /pub/bin/GKL/src/main/native

[2018-01-02 16:50] gspowley commented on #86
@haiwufan this error means your C++ compiler does not support AVX-512. Please try a newer compiler with AVX-512 support (for example `GCC 5.3.1`).

[2018-02-16 19:31] mirounga opened #89 "Uninitialized pointer in IntelDeflater.cc"
Memory at uninitialized pointer is being written to [here](https://github.com/Intel-HLS/GKL/blob/964ccf058ce43cf5eb48cb1e8e26965b40003b20/src/main/native/compression/IntelDeflater.cc#L170)

[2018-02-25 16:05] gspowley commented on #89
@pnvaidya can you please take a look at this?

[2018-03-19 03:58] cxfustc opened #90 "Create new Thread in Mutect2 will slow down the omp and avx accelerated pairHMM calculation?"
Hi Developer,

I was trying to accelerate Mutect2. I used class Thread to create new threads to parallelize the data prepare and active region calculation. However, after this modification, the calculation of pairHMM was much slower than before using the same data. I used the GKL source code with the commit id 'a6f5f4'.

Thank you very much!

[2018-03-19 15:35] gspowley commented on #86
The README now includes detailed build instructions.

[2018-03-19 15:35] #86 closed

[2018-03-19 16:31] gspowley commented on #90
My guess is some of the cores previously used for PairHMM are now used for preparing active regions.

[2018-03-20 08:29] cxfustc commented on #90
Thank you for replying.

[https://github.com/cxfustc/Tiny_GKL_test/blob/master/PairHMMTest.java](url)
I write a simple test code, and it comes out you are right. It is the competition for cores that slows down the calculation speed.

Here is the test result. The computer for testing has 4 cores.
If the number of threads for every pairhmm engine is set to 1. The result of the program is:
Cost 4.527

[2018-04-04 08:15] #90 closed

[2018-05-07 11:47] d-cameron opened #92 "Smith Waterman requires GATK classes to use"
No GATK-independent API is provided for the accelerated smith waterman implementation. It would be quite useful to be able to use this implementation to replace http://jaligner.sourceforge.net or the java bindings I wrote for https://github.com/mengyao/Complete-Striped-Smith-Waterman-Library.

Are there any plans to release a stand-alone AVX accelerated S/W implementation?

[2018-05-07 13:25] gspowley commented on #92
PR #91 provides a way to build Smith-Waterman and PairHMM in a standalone C library. It hasn't been merged yet because we haven't had time to review it.

If you would like to give the PR a try, we would welcome your feedback.

[2018-10-09 15:23] sfchen opened #93 "Can this library be used to accelerate Smith Waterman algorithm powered software, like bwa?"
If yes, is there any introduction, or any benchmark?

[2018-11-21 19:23] daizao opened #95 "Install Error: "org.eclipse.jgit.jar""
*Hi Developer, when i install GKL, i meet an error. Could you help me solve the problem ?*
*Install command and error info as below:*
[code]

*i find that i can download the org.eclipse.jgit-4.1.1.201511131810-r.jar from browser, but i don't know how to load the org.eclipse.jgit-4.1.1.201511131810-r.jar from local  file system.*

[2018-11-22 13:44] daizao commented on #95
**i solved this problem with using the mobile hotspots in chinese**

[2018-11-23 10:31] #95 closed

[2019-01-08 22:35] lbergelson commented on #92
@d-cameron Maybe I misunderstand, but the only GATK dependency in GKL is https://github.com/broadinstitute/gatk-native-bindings which is a totally independent library that is dependency free.  It doesn't pull in the whole GATK.

[2019-01-17 12:46] tvandera opened #96 "OpenCL FPGA code not in this repo, right?"
Hello,

Is the FPGA-acceleration OpenCL code open-source?

Thanks,
Tom

[2019-01-17 15:01] gspowley commented on #96
Right, the OpenCL FPGA code is not in this repo because it is not open-source.

[2019-01-17 15:01] #96 closed

[2019-01-21 14:48] rick-heig opened #97 "FPGA PairHMM : calculate() stub for double precision"
Could you add a `calculateDouble()` stub function for double precision FPGA implementations ?

This would allow FPGA developers to create FPGA double precision implementation that are compatible with the GKL. Since none of the other interfaces change, this change will not affect any other software using GKL.

This would require :
- Adding the stub in the `shacc_pairhmm` namespace
- Change the allo

[2019-01-22 19:13] jonn-smith opened #98 "GKL hangs on kernel update"
It looks like a GATK user is experiencing a GKL hang since they updated their kernel (4.4 -> 4.12, SUSE Linux, SLES15, CPUs: Xeon E5-2697 v4 and Xeon Gold 6148 CPUs).  They detailed their findings in a forum post:

https://gatkforums.broadinstitute.org/gatk/discussion/23342/inteldeflater-problem-on-kernel-update/p1

@gspowley - Can you take a look and see if you can make more sense of it?

[2019-01-23 16:03] gspowley commented on #98
@mepowers, can you please take a look at this issue?

[2019-01-23 16:07] gspowley commented on #97
@mepowers, can you please respond to this request?

[2019-03-15 15:15] droazen opened #99 "Intel deflater + long reads data = intermittent corrupt bams"
@kvg reports that running the Intel deflater via GATK on long reads data intermittently produces corrupt bam outputs. His specific use case is sharding a single unaligned bam file into multiple smaller bams. Running with the JDK deflater (--use-jdk-deflater) appears to resolve the issue.

Example error when trying to read a corrupt shard (reading with htsjdk produces the same error):

[code]

Ther

[2019-04-12 04:02] nh13 opened #100 "Can we get rid of org.apache.logging.log4j?"
For such a low-level library, I'd rather not have it as a dependency (so it will get rolled into my assembly jar), and certainly not have its logging info on the console.  Can we just get rid of it and log to a file or somewhere else?

[2019-04-12 04:29] nh13 commented on #100
This is motivated by trying to keep the JAR size of fgbio as small as possible.  https://github.com/fulcrumgenomics/fgbio/pull/483.  Another idea that could help is having the inflater/deflater parts of the code in a separate JAR than the SW/HMM portions, so we don't have to include the latter.

Examining the size of the dependencies included (using [this gist](https://gist.github.com/medvedev/968

[2019-04-12 04:29] nh13 commented on #100
Could we not just use `commons-logging`, or the logging in `htsjdk`?

[2019-04-12 18:36] mepowers commented on #99
Hi @droazen, @kvg - Is this is a blocker?  Or is running with the JDK deflater a workaround?

Please feel free to tag me in future GKL issues so I'm sure to see them.

[2019-04-12 18:40] kvg commented on #99
@mepowers Running the JDK deflater does permit us to work around the issue for now.  However, the JDK deflater is ~6x slower, so it is unfortunately a rather expensive workaround.

[2019-04-12 19:02] mepowers commented on #99
@kvg - thanks for the update.  @droazen mentioned you have a bunch of test cases.  Have you confirmed it's triggered when a read spans many compressed blocks?

[2019-04-16 20:00] mepowers commented on #97
@rick-heig - I missed this notification - my apologies.

Our team specifically doesn't have plans to take on new FPGA development work, but I know our FPGA product group is still working in genomics, and we have active external collaborations in this space.  @aprabhak2 - please feel free to chime in if you have input here.

It looks like HaplotypeCaller can be run with a doubleprecision flag for p

[2019-04-16 20:13] mepowers commented on #100
Hi @nh13 - thanks for the input.  We're reviewing this suggestion this week.  I don't see any issue with logging elsewhere as you suggest.  Which GKL components does fgbio use?  The Deflater?

[2019-04-16 20:51] nh13 commented on #100
@mepowers we are starting to use the inflater and deflater.  This was also an issue in GATK and Picard (https://github.com/broadinstitute/picard/issues/883).  They solved it by adding a configuration file and muting the logging, but that means they also include the log4j transitive dependency, making the JAR they distribute larger.

[2019-04-17 15:07] pditommaso commented on #100
Log4j can be replaced with the `log4j-over-slf4j` bridge API and the redirected to the Java stock logging API using the `slf4j-jdk14` adaptor. See for details [here](https://www.slf4j.org/legacy.html).

[2019-04-17 15:21] nh13 commented on #100
@pdtommaso thank-you! I did see that but I am trying to reduce the number of dependencies so I am not thrilled to include a few more to bridge the logging frameworks. I’ll look how much size they add.

[2019-04-17 22:11] mepowers commented on #100
@nh13 - we discussed this internally as a team today and unfortunately updating the logging isn't a priority right now.  We do not have plans to change this.

[2019-04-17 22:37] nh13 commented on #100
Would you accept a PR to remove logging?

[2019-04-22 16:55] mepowers commented on #100
@nh13 - we wouldn't.  We're only requesting PRs for bug fixes.

[2019-04-22 16:55] #100 closed

[2019-04-22 17:15] mepowers commented on #98
@jonn-smith I replied on the thread, asking berutti to provide any updates here.  Apologies for the lag time on this.

[2019-08-14 18:41] lbergelson opened #101 "Consistent Segfault in deflater code"
I'm getting a segfault on a specific machine in the deflater code.  See https://github.com/broadinstitute/picard/issues/1383

[code]
An example error log: [hs_err_pid30548.log](https://github.com/Intel-HLS/GKL/files/3502763/hs_err_pid30548.log)

It seems to be consistently reproducible on this specific laptop, but not yet on other machines.

[2019-08-14 19:15] mepowers commented on #101
@lbergelson does this seem related to https://github.com/Intel-HLS/GKL/issues/99 ?

@kvg was having issues with long reads and corrupt bams a few months back.

[2019-08-14 19:26] lbergelson commented on #101
I don't think they're the same issue.  That seems to be related to reads that extend through multiple compression blocks and is more general to long reads.  This seems to be a magically bad confluence of things that results in a segfault on an otherwise innocuous file.  It seems to be either hardware specific or specific to osx mojave, but I'm trying to narrow that down still.

[2019-08-14 20:11] mepowers commented on #101
Got it.  Thanks.  I'll continue to follow this thread for updates.

[2019-08-14 20:19] lbergelson commented on #101
It seems to reproduce on other OSX Mojave machines.  (OSX 10.14.6)

The following commands should reproduce the issue on one of the afflicted machines...

[code]

[2019-08-21 18:30] lbergelson commented on #101
@mepowers Have you been able to reproduce this on your end?

[2019-08-22 01:41] mepowers commented on #101
@lbergelson we have not.  Have you been able to reproduce on other machines?

[2019-08-22 15:15] lbergelson commented on #101
Yes, I've been able to reproduce it on several machines running OSX Mojave.

[2019-09-11 20:58] lbergelson commented on #101
Some additional information.
1. It seems that this error is not completely deterministic.  I've now seen it succeed without a segfault several times on machine.
2. One of our developers who is using osx 10.14, an older patch of mojave does NOT see this bug.

[2019-09-11 21:06] mepowers commented on #101
Thanks @lbergelson .  We have a couple new engineers ramping on GKL.  We have a couple Linux bugs in the queue and will circle back on this one once those are addressed.

[2019-09-11 21:14] lbergelson commented on #101
That's great to hear!

[2019-09-18 15:59] lbergelson opened #102 "Cannot load GKL with java 11 on OSX Mojave"
I'm unable to load the GKL dylibs when running under Java 11.  I'm not sure if this is specific to OSX or if it is true for linux too.  I get the following error:

[code]

It seems like this is a new "feature" from apple to prevent you from running any code that hasn't be submitted to apple for notarization, but it only seems to apply when running java 11 at the moment and not to java 8.

[2019-09-18 16:20] lbergelson commented on #102
Huh, this seems to be an openjdk bug that's being actively worked on and should be resolved for mojave https://github.com/AdoptOpenJDK/openjdk-build/issues/1211.

It was triggered by enabling some sort of additional osx security feature, which is optional now but is going to be mandatory in the next version of osx.  So this will probably re-ocurr in osx 10.15.

[2019-09-18 16:20] #102 closed

[2019-10-02 19:31] lbergelson commented on #101
@mepowers Any update on the new engineers?  We're having more people hit this particular bug in the wild.

[2019-10-07 18:05] nh13 commented on #101
@mepowers ditto, a few of the teams for our clients, that all use Mojave, are now hitting this on a regular basis.  For Picard, setting `USE_JDK_DEFLATER=true` skips using the Intel deflater, as a temporary workaround.

[2019-10-07 19:57] mepowers commented on #101
@lbergelson @nh13 we have not reproduced this issue yet.  Skipping Intel deflater for this OS is still the best workaround.

[2019-12-02 20:03] SnehalAdsule commented on #99
@kvg I am trying to replicate this issue, is SplitSubreadsByZmw a custom option? Is there any other particular branch or fork available for it?

[2019-12-03 00:22] SnehalA commented on #99
@kvg I am trying to replicate this issue, is `SplitSubreadsByZmw` a custom option? Is there any other particular branch or fork available with test bam file?

[2019-12-03 00:26] kvg commented on #99
Yes - I’ll make the branch and an example available. I have a few deadlines over the next 7 days. I should be able to make both code and data available by Fri Dec 13.
On Dec 2, 2019, 19:22 -0500, Snehal Adsule <notifications@github.com>, wrote:

[2019-12-05 11:08] TekTimmy commented on #93
Hi, I'm also missing some documentation how to make the system use these libraries... Do I need to set LD_LIBRARY_PATH? Do I have to move those files somewhere?

[2020-01-09 22:17] SnehalA commented on #99
@kvg IF you has chance to look into this, can you share the branch details. Thanks!

[2020-01-09 22:18] kvg commented on #99
Thanks for reminding me - I shall do this tonight.

Thanks,
-Kiran
On Jan 9, 2020, 17:17 -0500, Snehal Adsule <notifications@github.com>, wrote:

[2020-01-10 18:40] kvg commented on #99
Hi @SnehalA,
  Frustratingly (or thankfully, depending on your point of view), I can't reproduce this error anymore.  I'm not sure *how* it would have been resolved, but it seems to be gone for now.

  FYI, to test this intermittent behavior in the first place, I put together an updated test last night, just running my read sharding code (now called `ShardLongReads`) on a test _E. coli_ sample in

[2020-01-14 23:17] SnehalA commented on #99
Hi @droazen I do not have maintainer permission, can you please close this issue?

[2020-02-05 18:18] #99 closed

[2020-02-05 20:54] SnehalA commented on #101
@lbergelson  Hi Louis, I am trying to reproduce this bug, using `./gradlew $JAVA_PROXY test legacyTest --tests "CollectGcBiasMetricsTest" ` . It complains mainly on RScript file missing.

 **Please help me if you can verify this behavior, or am missing something here to help diagnose this further.**

![image](https://user-images.githubusercontent.com/19539903/73881541-5e30f000-4815-11ea-9ba4-112be

[2020-02-05 22:12] lbergelson commented on #101
Hi @SnehalA!

I'm excited to see that someone is working on reproducing this.  The error you're seeing is because you don't have the program Rscript installed on your machine.  You can avoid it by installing R and Rscript, or alternatively, I made a branch that disables the call to R.  `lb_repro_no_r` see here: https://github.com/broadinstitute/picard/tree/lb_repro_no_r.

And just to be sure, you'

[2020-02-07 01:00] SnehalA commented on #101
@lbergelson I installed R-3.6.2 pkg and all 4/4 tests succeeded for `CollectGcBiasMetricsTest`.
 I am using 10.14.6 and JDK8 . I also tried `SortSamTest` and no issues either.

![image](https://user-images.githubusercontent.com/19539903/73988363-4c277e00-48f7-11ea-85e6-325fe31f90c7.png)

However for `MarkDuplicatesTagRepresentativeReadIndexTest` I saw SIGSEGV issue, and also that totalMemory utili

[2020-02-07 17:41] lbergelson commented on #101
Interesting.  If I run that exact command I get an error with a segfault.

[code]

Here's the complete log:
[log.txt](https://github.com/Intel-HLS/GKL/files/4172182/log.txt)

[2020-02-07 18:02] SnehalA commented on #101
@lbergelson I see there i typo for -Dorg.gradle.jvmargs="-Xmx6g"! I see this setting dint get picked up. The default gradle settings may not be suffcient.
`javaHome=/Library/Java/JavaVirtualMachines/adoptopenjdk-8.jdk/Contents/Home,daemonRegistryDir=/Users/louisb/.gradle/daemon,pid=44043,idleTimeout=120000,priority=NORMAL,daemonOpts=-XX:MaxMetaspaceSize=256m,-XX:+HeapDumpOnOutOfMemoryError,**-Xms2

[2020-02-07 18:36] lbergelson commented on #101
Ah, good catch.  I didn't see the typo.

 Running with -Xmx seems to sometimes avoid the SIGSEGV but it does so non-deterministically.  Back to back runs produced seemingly random results with different memory values.  6G fail, 8G pass, 10g fail, 8g fail.

I think it might be a red herring, or maybe expanding the memory available gives us a better chance of dereferencing a valid address.

Either w

[2020-02-13 18:27] SnehalA commented on #101
@lbergelson Oh, I see different pid for worker and main.  I want to change `COMPRESSION_LEVEL=5` to 1 or 2? I am not able to find where these get set, to run test suite with these values.  Please check if this approach works.

[2020-02-13 18:37] lbergelson commented on #101
You should be able to change the compression level default with the system property `samjdk.compression_level=1`.  It has to be passed through to the test jvm instance though.  The way I know to do that is to add a line into the build.gradle file.

Theres a section in the file
[code]

Add the line:
[code]
into that section and it should set that system property for all the tests

[2020-04-06 16:06] lbergelson commented on #101
Given our recent 2020 roadmap discussions, this is a high priority fix for us.

[2020-04-06 17:36] SnehalA commented on #101
We are working on new build and are hoping this resolves the bug.

[2020-04-06 17:41] lbergelson commented on #101
That's great news.

[2020-04-24 18:10] lbergelson opened #103 "Smith Waterman Native crashes"
I wanted to open an issue here with some examples of crashes in the native accelerated smith waterman code.

See this GATK issue here:  https://github.com/broadinstitute/gatk/issues/5690

Two users encountered different the following issues which resolved by not using the accelerated code:

[code]
and

[code]

I haven't reproduced either myself so I don't have a great way to test for them.  It's p

[2020-04-27 00:46] #92 closed

[2020-04-27 00:51] d-cameron opened #104 "SmithWaterman returns incorrect alignments."
The S/W aligner does not return optimal alignments.
Tested version: 0.8.6
Repo test case:
[code]

Actual alignment cigar returned is `11S1M`. This is clearly a sub-optimal alignment.

I strongly recommend adding a test suite to exhaustively compare small results against another S/W  aligner (e.g. JAligner) to ensure correctness of your implementation.

[2020-04-28 18:10] droazen opened #105 "Systematically test the GKL deflater/inflater with long reads data"
We suspect there may be performance and/or correctness bugs when running the GKL with long reads data, so we'd like to do some systematic testing of the library (particularly the deflater/inflater code) to determine what the state of long reads support is.

@jonn and/or someone on the long reads team at the Broad can provide suitable test data

[2020-04-28 18:15] lbergelson opened #106 "Zlib performance comparison for genomic data"
I was mentioning that there was some analysis showing other libraries outperforming the gkl on compression of genomics data.  Here's the link http://www.htslib.org/benchmarks/zlib.html.

It looks like libdeflate seems to outperform the current intel zlib implementation in most metrics.  I don't know if anything can be done to close the gap?

[2020-04-28 18:17] lbergelson commented on #104
That's worrisome.  We've never enabled the optimized smith waterman by default in GATK because of some other issues, but I hadn't ever seen it produce grossly incorrect alignments.  I was under the impression that it had been tested against pretty heavily against the GATK java implementation.  I wonder if we produce the same bad alignment...

[2020-04-28 18:37] droazen commented on #105
Tentative testing plan: run several roundtrip full-scale tests in which we read in every record in a long reads bam file using the inflater to decompress, and write out a new bam using the deflater to re-compress. Then check the new bam against the original to make sure they're the same once uncompressed.

[2020-04-28 18:37] droazen commented on #105
@jonn suggested that we also test long reads data with the accelerated SmithWaterman implementation in the GKL, just to see if it can handle long reads.

[2020-04-28 18:45] #98 closed

[2020-04-28 18:45] mepowers commented on #98
Haven't heard back from the user.  On GATK 3.X as well.  Sync'd with Broad; closing this.

[2020-04-28 18:46] #97 closed

[2020-04-28 18:51] lbergelson commented on #104
I'm confused about this one.  Running this code against the GATK java smith waterman implementation produces the same result.  It seems to have something to do with the overhang strategy although none of the overhang strategies produce the answer that seems most correct.  I suspect this may be a deliberate but incomprehensible choice from the past.  @davidbenjamin do you have any sense of what's g

[2020-04-28 18:52] mepowers commented on #89
We're working on a new release - will check this and confirm it's resolved with latest version of GKL.

[2020-04-28 18:53] mepowers commented on #37
Snehal thinks this may have laready been done - we'll look into this

[2020-04-28 19:01] droazen opened #107 "Run valgrind on the GKL codebase"
Maybe it can catch some of these pointer safety issues reported in other tickets...

[2020-04-29 06:53] davidbenjamin commented on #104
@lbergelson See comments in broadinstitute/gatk#6576.

[2020-04-29 17:53] mepowers commented on #37
Discussed as a team; not prioritizing at this point.  Closing this ticket.

From Snehal:

For issue#37 - seems *.h files are committed in repo, and not included in cmakeList. But this would need modifying all 3 modules.
Reference:
https://github.com/Intel-HLS/GKL/blob/master/src/main/native/smithwaterman/CMakeLists.txt
https://github.com/Intel-HLS/GKL/blob/master/src/main/native/pairhmm/IntelPairH

[2020-04-29 17:53] #37 closed

[2020-05-04 13:51] jonn-smith commented on #105
I collected several test files with long reads and sent over some signed URLs for testing on 5/1.  I'm keeping them around if other folks need access (just let me know).

[2020-05-20 08:30] DCarbonez commented on #103
This issue also pops up during FilterAlignmentArtifacts in GATK 4.1.7.0 (experimental)

`*** Error in `java': munmap_chunk(): invalid pointer: 0x00007fb4c8e6e540 ***
======= Backtrace: =========
/lib/x86_64-linux-gnu/libc.so.6(+0x777e5)[0x7fb4cdfee7e5]
/lib/x86_64-linux-gnu/libc.so.6(cfree+0x1a8)[0x7fb4cdffb698]
/cromwell_root/tmp.be1fb8a9/libgkl_smithwaterman4505316410124989699.so(_Z19runSWOnePai

[2020-05-20 13:23] lbergelson commented on #103
Here's a new reported additional example of smith-waterman related crash:

his issue also pops up during FilterAlignmentArtifacts in GATK 4.1.7.0 (experimental)

[code]

[2020-06-04 18:51] lbergelson commented on #101
There's another possibly identical or related issue here: https://github.com/broadinstitute/picard/issues/1329

[2020-06-11 21:30] SnehalA commented on #101
@lbergelson I observed that after changing gkl version from 0.8.5 to 0.8.6 in `build.gradle`, this issue was not reproducible on our mac test env. Please verify the same.

[2020-06-23 18:27] lbergelson commented on #101
@SnehalA Someone pinged me asking if this reproduces with 0.8.6 in picard, I can't figure out where that comment was though...  I've tested on my machine with that version and I still see the issue when using 0.8.6.

[2020-06-23 18:30] droazen commented on #105
@kmannth has confirmed that they've received the long reads test data @jonn-smith sent them.

[2020-06-23 18:36] droazen commented on #101
@SnehalA believes that this is fixed in 0.8.7

[2020-07-17 22:28] mepowers opened #111 "How to make the system use these libraries?"
Hi, I'm also missing some documentation how to make the system use these libraries... Do I need to set LD_LIBRARY_PATH? Do I have to move those files somewhere?

_Originally posted by @TekTimmy in https://github.com/Intel-HLS/GKL/issues/93#issuecomment-562083192_

[2020-07-17 22:30] mepowers commented on #93
@sfchen - the short answer is yes.  The AVX-512 Smith Waterman Kernel can be used by any tool that uses Smith Waterman.  The longer answer is we haven't done this engineering work.
@TekTimmy - I spun your Q out into a separate issue.  Our team will address it over there (https://github.com/Intel-HLS/GKL/issues/111)

[2020-07-17 22:30] #93 closed

[2020-07-20 16:29] droazen commented on #103
This user comment on the original GATK ticket might provide some additional insight: https://github.com/broadinstitute/gatk/issues/5690#issuecomment-660645356

[2020-08-02 05:44] nh13 opened #113 "GATK4 HaplotypeCaller native SmithWaterman: core dumps and JVM errors"
See test case in: https://github.com/broadinstitute/gatk/issues/6733

[2020-08-14 19:39] mepowers commented on #113
@nh13 see comment here:  https://github.com/broadinstitute/gatk/issues/6733#issuecomment-674241524

[2020-08-26 20:24] Kmannth commented on #89
https://github.com/Intel-HLS/GKL/pull/114 has an inital fix for this issue.

[2020-08-26 20:31] Kmannth commented on #103
https://github.com/Intel-HLS/GKL/pull/114 has  an inital patch to harden Smithwaterment against malloc faling and fix for AVX  specific free.

It is not clear it will fix the core issue but it will no hurt it this class of issue.

[2020-08-26 20:36] Kmannth commented on #111
t looks like the quesiton is how to use the GKL with BWA?

In general GKL has not integrated with BWA to date. A develment level of integration work is required that is not if focuse for us at this point.

Let us know if you will take this development effort on.

[2020-08-26 20:36] #111 closed

[2020-08-26 22:22] Kmannth commented on #89
The patch has been landed to Master please retest and let us know if you still see the issue.

[2020-08-26 22:22] #89 closed

[2020-08-26 22:26] Kmannth commented on #101
A memory alloction issue has been fixed in Intel Deflater code and there are new version of I-SAL and Zlib with many fixes applied.

A  beta test on Mac by @lbergelson  the update at least helps.

As a patches are landed to Master we will close this issue. If the issue is seen again please reopen.

[2020-08-26 22:26] #101 closed

[2020-08-26 22:29] Kmannth commented on #103
The fix inital fix has been landed to master.  Without a reproduction case  there may be more work to do.

[2020-08-27 16:15] Kmannth commented on #103
I didn't meen to close this one just yet.

Next steps:
1. see if 0.8.7 GLK fixes some of the issue 2 patches have been landed.
     - Smithwaterment needs over 8MB of memory to run and we now check for malloc failing ; Some of the reports say the issue goes away with more memory and it a BKM to do these checks anyway.
   -  _mm_malloc memory is now freeded with __mm_free.  the use of free before w

[2020-08-27 16:17] Kmannth commented on #104
Still blocked on https://github.com/broadinstitute/gatk/issues/6576

[2020-09-23 19:00] Kmannth commented on #107
@droazen  Do happen to have BKMs for Valgrind and GATK?   We have  spent some time trying to get symbol resoltion for GATK and GKL with valgrind but so far not much sucess.

[2021-01-05 22:04] cmnbroad opened #133 "Intermittent core dump in native pair hmm"
GATK has an intermittent failure that results in a core dump, which I think we've tracked down to native pair HMM. We're seeing it quite frequently on travis lately. AFAIK we have only ever seen this on Java 11 (not 8).

More details are available in https://github.com/broadinstitute/gatk/issues/6649. Attached is a travis log that has the core dump log embedded.

[log.txt](https://github.com/Intel

[2021-01-05 22:13] mepowers commented on #133
@cmnbroad Thanks for reporting.  I tagged @SnehalA and @Kmannth on the GATK issue.

[2021-02-03 00:09] Kmannth commented on #107
Summary:   The Valgrind and Java do not work well.   https://github.com/Intel-HLS/GKL/pull/91 was updated to run with Master was was last tested Jan 2021.   We will work to run this test as part of our regular  release process.

With the latest code base and the limtied unit test cases no errors were found.

[2021-02-03 00:09] #107 closed

[2021-03-02 14:34] pkolakow commented on #113
This issue has been fixed here https://github.com/Intel-HLS/GKL/pull/142. The patch for this bug will come out with the next release.

[2021-03-04 15:51] #113 closed

[2021-03-26 22:24] Kmannth commented on #133
@cmnbroad

The team did a Java 11 test with GKL Master/v0.8.8.

compiled GATK with Java 11 with the Master GKL from our repository and then ran the following tests over the weekend:
- IntelInflaterDeflaterIntegrationTest
- HaplotypeUnitTest
- SmithWatermanIntelAlignerUnitTest
- VectorPairHMMUnitTest
These 4 tests have executed upwards of 20,000 times and not a single crash was encountered. It's wo

[2021-03-29 19:54] cmnbroad commented on #133
@kmmanth I'm not sure what you mean by:

Are you saying the code that disables the test is incorrect ? Can you provide more detail ?

[2021-03-29 20:01] Kmannth commented on #133
@cmnbroad
   In the current code there is check to skip VectorPairHMMUnitTest with a java version check.  On our Centos 7.x dev system the way Java was being check did not work so it ran anyway.   I don't know exactly why the Java version check might work on your system but not ours but it is something we noticed.

[2021-07-02 07:31] Qiyu8 opened #160 "Does GKL have plans to support ARM architecture optimization?"
GKL is a fantastic library, but only available in X86-based architecture, Any plans to support ARM or PowerPC architecture optimization?

[2021-08-10 08:46] chenbh-FGL opened #161 "Help2man is also needed when building."
It can be installed with 'yum install -y help2man' on Centos 7 OS.

[2021-08-10 22:56] Kmannth commented on #161
Thanks for letting us know.

[2021-08-10 23:00] Kmannth commented on #161
@chenbh-FGL  I updated the readme to add the package to be installed during the build process.

Let us know if you think anything else would be helpful.

[2021-08-11 00:47] #161 closed

[2021-09-15 07:03] teepean commented on #160
There's a fork that supports ARM. I have no idea if it actually compiles or works.

https://github.com/syalavarthi/GKL/tree/devel

[2021-09-15 14:47] mepowers commented on #160
@Qiyu8 Thanks for the question.  As of today we don't have plans to support ARM.

[2021-12-12 03:54] philipc opened #163 "PairHMM stripe initialization of `M_t_1_y` is wrong"
See this code:
https://github.com/Intel-HLS/GKL/blob/51580c453003bc60e082fa8aaafc97457e0f6057/src/main/native/pairhmm/avx-pairhmm-template.h#L201

`M_t_1_y` should not be an exact copy of `M_t_1`, but instead it should be a copy prior to the vector shift. That means it should be initialized to `VEC_SET1_VAL(zero)` at the start of the stripe.

Background:
I have ported this code to Rust (https://gi

[2021-12-13 22:06] alanhoyle opened #164 "GKL uses exploitable Log4J 2 version"
GKL's build embeds the 2.13.2 version of log4j 2 which is vulnerable to an exploit.  Please update the build.gradle to use log4j 2 version 2.15.0 or newer.

[2021-12-13 23:15] Kmannth commented on #164
@alanhoyle  thanks for your message. We just landed a patch  https://github.com/Intel-HLS/GKL/pull/162 and are working on testing.

[2021-12-13 23:15] #164 closed

[2021-12-13 23:17] Kmannth commented on #163
Thanks for this note we will look into it.

[2021-12-13 23:18] Kmannth commented on #133
We believe this is fixed by the latest version.   Please reopen if you hit it again.

[2021-12-13 23:18] #133 closed

[2021-12-13 23:19] Kmannth commented on #103
@lbergelson  with the latest versions of GATK/GKL do you still see this issue?

[2021-12-13 23:22] Kmannth commented on #105
We tested Long Reads data form @jonn-smith with our latest release. If there is an issue please reopen this bug.

[2021-12-13 23:22] #105 closed

[2021-12-14 16:08] lbergelson commented on #103
@Kmannth I can't say for sure since I was never actually to reproduce those two exactly.  0.8.7 fixed all of the similar issues that I could reproduce and I haven't heard any new complaints yet.  I think we're good to close this and start clean with error reports from 0.8.7 onwards!  Thank you.

[2021-12-14 16:08] #103 closed

[2021-12-15 20:57] tfenne opened #165 "GKL should ideally use commons-logging or similar instead of log4j"
The recent log4j exploit has led me to checking various projects and realizing that many Java/JVM based projects include log4j solely due to having GKL at a dependency.  I would argue that it is not good practise to have library code like the GKL bind directly to a logging framework like log4j, but instead to have it use commons-logging or something similar, that allows tools and applications that

[2021-12-16 04:52] Kmannth commented on #165
Intel is continuing to evaluate the impact of the Apache Log4j2 security vulnerabilities (CVE-2021-44228 & CVE-2021-45046) on our product portfolio. Please see INTEL-SA-00646 for the most up to date information. We will continue to update this Security Advisory as new information becomes available.

[2021-12-27 02:38] philipc opened #169 "`smithWatermanBackTrack` is being shared between AVX2 and AVX-512"
When compiling with gcc 11.2.0, [`smithWatermanBackTrack`](https://github.com/Intel-HLS/GKL/blob/cace7ea65d17c5fbea51c5fc47656afcf6158b8f/src/main/native/smithwaterman/PairWiseSW.h#L65) isn't actually inlined, and this results in both the AVX2 and AVX-512 implementations calling the same copy of it. This is bad because each copy needs to be specialized to use either AVX2 instructions or AVX-512 in

[2021-12-27 16:33] nh13 opened #170 "Release 0.8.9 is not on maven"
See: https://mvnrepository.com/artifact/com.intel.gkl/gkl.  Latest is 0.8.8.  Also, the release name has a `v` in it.  Thanks for the quick patch updating log4j!

[2021-12-28 20:45] nh13 commented on #170
Blocking an `fgbio` release: https://github.com/fulcrumgenomics/fgbio/pull/676

[2022-01-25 20:39] Kmannth commented on #170
Our plan is to push a new 0.8.10 to maven in the next week or so.

[2022-01-25 20:46] Kmannth commented on #169
@philipc  Thanks for this note.  We build on gcc version 7.3.1 we see distinct functions for AVX2 and AVX512 as expected.  Perhaps this is related to the GCC 11.2.0 stack.

From a gcc 7.3.1 I see today:

0000000000000da0 <_Z19runSWOnePairBT_avx2iiiiPhS_ssaPciPjPi>:
     e54:       0f 86 ee 10 00 00       jbe    1f48 <_Z19runSWOnePairBT_avx2iiiiPhS_ssaPciPjPi+0x11a8>
...
0000000000002070 <_Z21runSW

[2022-01-25 20:46] Kmannth commented on #169
Feel free to submit a patch.

[2022-02-25 16:14] jamesemery opened #171 "Potential memory leak observed in unusual HaplotypeCaller behavior"
This is an expansion of the issue reported here: https://github.com/broadinstitute/gatk/issues/7693.

In summary we observed that when running the standard GATK warp inputs on some of our gold standard test data (which allocates 8000MB machines and allocates ~6974MB of that to java -Xmx) we start getting no-error message machine failures when the job runs for ~6-7 hours. The failures all follow th

[2022-02-25 18:42] droazen commented on #171
We are going to do some more testing on our end to narrow down the list of possible culprits -- in particular, we'll do a run with the GKL PairHMM turned off and see if that passes.

[2022-04-01 07:54] LightSun opened #172 "Help, where is the function impl of 'compute_fp_avx512s' ?"

[2022-08-06 06:49] wangyuyuyujun opened #173 "Does GKL support arm architecture?"
I have migrated gatk to arm architecture, but the running speed is too slow, so I want to use GKL. Can I build GKL on ARM architecture? Could you help me?